{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Aplicacion para el manejo de paises</h1>
    <p class="lead">Seleccione una opcion del Menu.</p>
    <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ver Paises</h2>
        <p>
            Permite ver la lista completa de los paises que se encuentran en la base de datos 
        </p>
        <p><a class="btn btn-default" href="/mostrarpaises">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agregar un nuevo pais</h2>
        <p>Formulario para crear un nuevo pais y agregarlo a la base de datos</p>
        <p><a class="btn btn-default" href="/agregarpais">Go! &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ver Ciudades</h2>
        <p>Ver todas las ciudades agregadas en la base de datos</p>
        <p><a class="btn btn-default" href="#">Go! &raquo;</a></p>
    </div>
</div>


{% endblock %}
