{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table id="tablapais" class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Codigo ISO</th>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Borrar?</th>
        </tr>
    </thead>
    <tbody>
        {% set id_boton='1'%}
        {% for i in lista %}
        <tr>
            {% for key, value in i.items() %}

            {%if key == "id" %}
            <td class="nr"><span>{{value}}</span></td>
            {% else %}
            <td scope="row">{{value}}</td>
            {%endif%}

            {% endfor %}

            <td><button id="delBoton" onclick="delPais(this)" type="button" class="btn btn-danger">Borrar</button></td>
         <tr>
            {% endfor %}
    </tbody>
</table>


{% endblock %}
